<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Конвертация валют</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Конвертация валют</h1>

    <div class="card mt-3">
        <div class="card-body">
            {{ form_start(form) }}
            <div class="mb-3">
                {{ form_label(form.from) }}
                {{ form_widget(form.from, {'attr': {'class': 'form-select'}}) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.to) }}
                {{ form_widget(form.to, {'attr': {'class': 'form-select'}}) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.amount) }}
                {{ form_widget(form.amount, {'attr': {'class': 'form-control'}}) }}
            </div>
            <button type="submit" id="form_convert" class="btn btn-primary">Конвертировать</button>
            {{ form_end(form) }}

        </div>
    </div>

    {% if result is not null %}
        <div class="alert alert-success mt-3">
            <strong>Результат конвертации:</strong> {{ result|number_format(3, '.', ',') }}
        </div>
    {% endif %}
    {% if result < 0 %}
        <div class="alert alert-warning mt-3">
            <strong>Ошибка конвертации</strong>
        </div>
    {% endif %}
</div>
</body>
</html>
